<ion-view view-title="Spot a Region">
  <ion-content style="padding:80% 10%;">
  	<div width="100%">

            <div width="80%">
            	Enter a region where ayou are looking for your style destination
                <label class="item item-input">
                    <input type="text" placeholder="Region">
                </label>
                <ion-buttons>
	                <button class="button icon ion-chevron-right button-full button-assertive" ui-sref="locality"></button>
                </ion-buttons>
            </div>
        </div>
  </ion-content>
</ion-view>