<ion-view view-title="Spot a Region">
  <ion-content class="srchbg">
  	<div class="centercell">
		<p class="introp">Enter a region where you are looking for your style destination</p>
		<div id="selectBox" ng-controller="RegionController">
			 <ion-select label="Placa do Veículo" label-field="region" provider="regionsList"  ng-model="region"/>
		</div>
		<div style="width:100%;">
			<button class="button icon ion-chevron-right button-rounded" ui-sref="locality"></button>
		</div>
    </div>
  </ion-content>
</ion-view>
