/* Empty. Add your own CSS if you like */
.hbar {
	background-color: #126bb3;
	color: #fff;
}

.bar.bar-positive {
    background-color: #126bb3;
    border-color: #ffffff;
    background-image: linear-gradient(0deg, #126bb3, #126bb3 50%, transparent 50%);
}
.bar.bar-positive.bar-footer {
  background-image: linear-gradient(180deg, #126bb3, #126bb3 50%, transparent 50%); 
}

.srchbg {
	background: #126bb3; /* Old browsers */
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top, #126BB3 0%, #049EDD 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #126BB3 0%, #049EDD 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #126BB3 0%, #049EDD 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #126BB3), color-stop(100, #049EDD));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #126BB3 0%, #049EDD 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #126BB3 0%, #049EDD 100%);

	color: #fff;
}

.introp {
	margin-top: 45%;
}

.logo_img {
	margin: 5% auto;
}

.centercell {
	display: block;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.button-rounded {
	background-color: #126bb3;
    border: 2px solid white;
    border-radius: 50%;
    clear: both;
    color: white;
    font-size: 10px;
    font-weight: bold;
    height: 60px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 60px;
}

.input-margin {
	margin: 10% 10%;
}

#selectBox {
  margin: 10% auto;
  width: 80%;
}

.optionList{
  background-color: #fff;
  height: 200px;
  margin: 0 auto;
  padding: 0;
  position:absolute;
  text-align: left;
  width:80%;
  z-index:100;
}

.ion-input-select {
  -webkit-appearance:none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-color: #fff;  
  background-image: url(/img/dropdown.png);
  background-size: 10px auto;
  background-position: 95% 50%;
  padding: 5px;
}

.ion-item-wrapper {
	background-color: #fff;
	border-radius: 0;
	height: 40px;
  padding: 0 0 0 4px;
}

#filtro {
  padding: 0px;
  text-indent: 0px;
	width: 100%;
}

.scroll-view.scroll-y {
	overflow: hidden;
}

option {
  background:#fff;
}

select::-ms-expand {
    display: none;
}

:focus {
  outline:none;
}
